<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/base.css') }}"
    />
    <title>CubeChamps</title>
  </head>
  <body>
    <nav>
      <h2>CubeChamps</h2>

      {% if not_homepage %}
      <a href="{{ url_for('persons', meet_id=meet.id) }}">Persons</a>
      <a href="{{ url_for('home') }}">Home</a>
      {% endif %}
    </nav>

    <hr />

    {% block content %}{% endblock %}
  </body>
</html>
